.column {
  width: 20%;
  padding: 20px;
  background: #FFF;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .1);
  height: auto;
  float: left;
  margin: 10px;
  text-align: center;
}

.columnIcon {
  margin-top: -70px;
  width: 20%;
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 10%;
}

.columnHead {
  text-align: center;
}
