{
  "extends": "airbnb",
  "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "jest"
  ],
  "globals": {
    "document": true,
    "window": true,
    "fetch": true
  },
  "env": {
    "jest": true
  }
}
